node_modules/**/*
.expo/*
.expo-shared/*
npm-debug.*
/assets/*
/tenants
/app.json
/language.js
/fonts.js
/menu.js
/versions.js
/versions
/RouteSwitcher.js
/tenantComponents/*
/src/utils/translations/current.json
/custom-mapping.json
/.env